.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wishlist-contents {
  display: flex;
  flex-direction: column;
}
.wishlist-card {
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  gap: 20px;

  height: 286px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
